<!-- templates/blogs/blog_list.html -->
{% extends 'base.html' %}

{% block title %}<title>Blog List - Retro Blog</title>{% endblock %}

{% block content %}
  <h2>Latest Blogs</h2>

  {% if blogs %}
    {% for blog in blogs %}
      <div class="blog-item">
        <h3>
          <a href="{% url 'blog-detail' blog.pk %}">{{ blog.title }}</a>
        </h3>
        <div class="blog-meta">
          By {{ blog.author.user.username }} • {{ blog.created_at|date:"M d, Y" }}
        </div>
        <div class="blog-excerpt">
          {{ blog.content|truncatewords:30 }}
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="no-blogs">No blogs yet. Be the first to write one!</p>
  {% endif %}
{% endblock %}